{% extends 'base.html.twig' %}

{% block title %}Liste des événements
{% endblock %}

{% block body %}
	<h1 align='center'>Liste des événements</h1>
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endfor %}

	<table class="table table-dark table-striped">
		<div class='d-flex justify-content-between'>
			<a href="{{ path('back_index') }}" class="btn btn-secondary btn-lg active m-3">Accueil back
				<a href="{{ path('back_event_create')}}" class="btn btn-success btn-lg active m-3" role="button" aria-pressed="true">Ajouter un nouvel événement</a>
			</div>
			<thead>
				<tr>
					<th>#</th>
					<th>Titre</th>
					<th>Description</th>
					<th>Date de début</th>
					<th>Date de fin</th>
					<th>Heure de début</th>
					<th>Heure de fin</th>
					<th>Image</th>
					<th>Créé le</th>
					<th>Mis à jour le</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for event in events %}
					<tr>
						<td>{{ event.id }}</td>
						<td>{{ event.title }}</td>
						<td>{{ event.description }}</td>
						<td>{{ event.dateStart ? event.dateStart|date('Y-m-d') : '' }}</td>
						<td>{{ event.dateEnd ? event.dateEnd|date('Y-m-d') : '' }}</td>
						<td>{{ event.hourStart ? event.hourStart|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ event.hourEnd ? event.hourEnd|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ event.picture }}</td>
						<td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ event.updatedAt ? event.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('back_event_show', {'id': event.id}) }}" class="m-1 btn btn-outline-info">Read
								<a href="{{ path('back_event_edit', {'id': event.id}) }}" class="m-1 btn btn-outline-warning">Update
									<a href="{{ path('back_event_delete', {'id': event.id}) }}" class="m-1 btn btn-outline-danger">Delete</td>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="11">no records found</td>
							</tr>
						{% endfor %}
					</tr>
				</tbody>
			</tbody>
		</table>
	{% endblock %}
