{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between m-3">
    <h2>Genre {{ genre.name }}</h2>
    <a href="{{ path('back_genre_list') }}" class='mb-3 btn btn-secondary'>Retour</a>
	</div>
	<table class="table table-dark table-striped">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ genre.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_genre_edit', {'id': genre.id}) }}" class='mb-3 btn btn-warning'>Mettre à jour</a>

    {{ include('genre/_delete_form.html.twig') }}
{% endblock %}
