{% extends 'base.html.twig' %}

{% block title %}Liste des groupes
{% endblock %}

{% block body %}
	<h1 align='center'>Liste des groupes</h1>
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endfor %}
		<div class='d-flex justify-content-between'>
			<a href="{{ path('back_index') }}" class="btn btn-secondary btn-lg active m-3">Accueil back
				<a href="{{ path('back_band_create')}}" class="btn btn-success btn-lg active m-3" role="button" aria-pressed="true">Ajouter un nouveau groupe</a>
			</div>
			<table class="table table-dark table-striped">
			<thead>
				<tr class="text-center">
					<th>#</th>
					<th>Nom</th>
					<th class = "d-none d-lg-table-cell">Description</th>
					<th>Email</th>
					<th>Zone</th>
					<th class = "d-none d-lg-table-cell">Echantillon</th>
					<th>Créé le</th>
					<th>Mis à jour le</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for band in bands %}
					<tr class="text-center">
						<td>{{ band.id }}</td>
						<td>{{ band.name }}</td>
						<td class = "d-none d-lg-table-cell">{{ band.description }}</td>
						<td>{{ band.email }}</td>
						<td>{{ band.area }}</td>
						<td class = "d-none d-lg-table-cell">{{ band.sample }}</td>
						<td>{{ band.createdAt ? band.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ band.updatedAt ? band.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('back_band_show', {'id': band.id}) }}" class="m-1 btn btn-outline-info">Read
								<a href="{{ path('back_band_edit', {'id': band.id}) }}" class="m-1 btn btn-outline-warning">Update
									<a href="{{ path('back_band_delete', {'id': band.id}) }}" class="m-1 btn btn-outline-danger">Delete</td>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="9">no records found</td>
							</tr>
						{% endfor %}
					</tr>
				</tbody>
			</tbody>
		</table>
	{% endblock %}
