{% extends 'base.html.twig' %}

{% block title %}Liste des organisateurs
{% endblock %}

{% block body %}
	<h1 align='center'>Liste des organisateurs</h1>
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endfor %}
	<table class="table table-dark table-striped">
		<div class='d-flex justify-content-between'>
			<a href="{{ path('back_index') }}" class="btn btn-secondary btn-lg active m-3">Accueil back
				<a href="{{ path('back_organizer_create')}}" class="btn btn-success btn-lg active m-3" role="button" aria-pressed="true">Ajouter un nouvel organisateur</a>
			</div>
			<thead>

				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Website</th>
					<th>Picture</th>
					<th>Created_at</th>
					<th>Updated_at</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for organizer in organizers %}
					<tr>
						<td>{{ organizer.id }}</td>
						<td>{{ organizer.name }}</td>
						<td>{{ organizer.description }}</td>
						<td>{{ organizer.website }}</td>
						<td>{{ organizer.picture }}</td>
						<td>{{ organizer.createdAt ? organizer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ organizer.updatedAt ? organizer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('back_organizer_show', {'id': organizer.id}) }}" class="m-1 btn btn-outline-info">Read
								<a href="{{ path('back_organizer_edit', {'id': organizer.id}) }}" class="m-1 btn btn-outline-warning">Update
									<a href="{{ path('back_organizer_delete', {'id': organizer.id}) }}" class="m-1 btn btn-outline-danger">Delete</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="8">no records found</td>
								</tr>
							{% endfor %}
						</td>
					</tr>
				</tbody>
			</tbody>
		</table>
	{% endblock %}
