{% extends 'base.html.twig' %}

{% block title %}User update
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between m-3">
		<h2>Mettre à jour l'utilisateur {{ user.firstname }} {{ user.lastname }}</h2>
		<a href="{{ path('back_user_list') }}" class='mb-3 btn btn-secondary'>Retour</a>
	</div>
	{{ include('partials/_form.html.twig', {'button_label': 'Update'}) }}

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
