{% extends 'base.html.twig' %}

{% block title %}Liste utilisateurs
{% endblock %}

{% block body %}
	<h1 align='center'>Liste des utilisateurs</h1>
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endfor %}
	<table class="table table-dark table-striped">
		<div class='d-flex justify-content-between'>
			<a href="{{ path('back_index') }}" class="btn btn-secondary btn-lg active   ">Accueil back
				<a href="{{ path('back_user_create')}}" class="btn btn-success btn-lg active " role="button" aria-pressed="true">Ajouter un nouvel utilisateur</a>
			</div>
			<thead>
				<tr>
					<th>Id</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Date de naissance</th>
					<th>Email</th>
					<th>Mot de passe</th>
					<th>Téléphone</th>
					<th>Image</th>
					<th>Créé le</th>
					<th>Mis à jour le</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.firstname }}</td>
						<td>{{ user.lastname }}</td>
						<td>{{ user.birthday ? user.birthday|date('d M Y') : '' }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.password }}</td>
						<td>{{ user.phoneNumber }}</td>
						<td>{{ user.picture }}</td>
						<td>{{ user.createdAt ? user.createdAt|date('d M Y à H:i') : '' }}</td>
						<td>{{ user.updatedAt ? user.updatedAt|date('d M Y à H:i') : '' }}</td>
						<td>
								<a href="{{ path('back_user_show', {'id': user.id}) }}" class="mr-3 btn btn-outline-info">Read
									<a href="{{ path('back_user_edit', {'id': user.id}) }}" class="mr-3 btn btn-outline-warning">Update
										<a href="{{ path('back_user_delete', {'id': user.id}) }}" class="mr-3 btn btn-outline-danger">Delete</td>
									</td>
							</tr>
							{% else %}
								<tr>
									<td colspan="11">no records found</td>
								</tr>
							{% endfor %}
						</td>
					</tr>
				</tbody>
			</tbody>
		</table>
	{% endblock %}
