{% extends 'base.html.twig' %}

{% block title %}Utilisateur {{ user.firstname }}
		{{ user.lastname }}
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between m-3">
	<h2>Profil utilisateur de
		{{ user.firstname }}
		{{ user.lastname }}</h2>
<a href="{{ path('back_user_list') }}" class='mb-3 btn btn-secondary'>Retour</a>
	</div>
	<table class="table table-dark table-striped">
		<tbody>
			<tr>
				<th>#</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>Prénom</th>
				<td>{{ user.firstname }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ user.lastname }}</td>
			</tr>
			<tr>
				<th>Date de naissance</th>
				<td>{{ user.birthday ? user.birthday|date('d M Y') : '' }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Mot de passe</th>
				<td>{{ user.password }}</td>
			</tr>
			<tr>
				<th>Numéro de téléphone</th>
				<td>{{ user.phoneNumber }}</td>
			</tr>
			<tr>
				<th>Role administrateur</th>
				<td>
					{% for currentRole in user.roles %}
						{{ currentRole }}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Image</th>
				<td><a href="{{ asset('uploads/pictures/' ~ user.picture) }}">Voir l'image</a></td>
			</tr>
			<tr>
				<th>Créé le</th>
				<td>{{ user.createdAt ? user.createdAt|date('d M Y à H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Mis à jour le</th>
				<td>{{ user.updatedAt ? user.updatedAt|date('d M Y à H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>


</br>
<a href="{{ path('back_user_edit', {'id': user.id}) }}" class='mb-3 btn btn-warning'>Mettre à jour</a>

{{ include('user/_delete_form.html.twig') }}
{% endblock %}
